[MASTER]
load-plugins=pylint_django
django-settings-module=config.settings

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=C0111,  # Missing docstring
        C0103,  # Invalid name
        W0511,  # TODOs
        R0903,  # Too few public methods
        R0901,  # Too many ancestors
        R0913,  # Too many arguments
        R0914,  # Too many local variables
        W0707,  # Consider explicitly re-raising
        W0221,  # Arguments number differs
        W0212,  # Access to a protected member
        W0613,  # Unused argument
        W0621,  # Redefining name from outer scope
        W0622,  # Redefining built-in
        W0702,  # No exception type(s) specified
        W0703,  # Catching too general exception
        E1101,  # Instance has no member (disabled for Django models)
        R0801   # Similar lines in files (disabled for test files)

[DJANGO]
django-settings-module=config.settings 